{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <title>
        {% block title %}
        {% if title %}
        {{title}}
        {% else %}
        Title
        {% endif %}
        {% endblock %}
    </title>

    {% block styles %}
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <link href="{% static 'main/css/base.css' %}" rel="stylesheet">
    {% endblock %}
</head>

{% block body %}

<body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        {% block header %}
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0"><a class="text-white" style="text-decoration: none;"
                        href="{% url 'main:home' %}">Ship Battle</a></h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    {% for link in menu %}
                    {% if link.name == active_link %}
                    <a class="nav-link active" aria-current="page" href="{% url link.url %}">{{link.name}}</a>
                    {% else %}
                    <a class="nav-link" href="{% url link.url %}">{{link.name}}</a>
                    {% endif %}
                    {% endfor %}
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'authentication:profile' %}" class="btn btn-outline-danger"
                        style="margin-left: 40px; margin-right: -1px; border-bottom-right-radius: 0px; border-top-right-radius: 0px;">
                        <strong>{{request.user.username }}</strong></a>
                    <button type="button"
                        style="margin-left: -1px; border-left: 0px; border-bottom-left-radius: 0px; border-top-left-radius: 0px;"
                        class="btn btn-outline-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-macos mx-0 border-0 shadow"
                        style="margin-top: 20px; padding: 10px; padding-top:20px; padding-bottom: 20px;"
                        aria-labelledby="navbarDropdown">
                        <li style="text-align: center;"><a class="dropdown-item" href="{% url 'authentication:profile' %}">View Prifile</a></li>
                        <li style="text-align: center;"><a class="dropdown-item" href="{% url 'authentication:password_change' %}">Change Password</a></li>
                        <li style="text-align: center;">
                            <hr class="dropdown-divider" />
                        </li>
                        <li style="text-align: center; padding: 10px; padding-bottom: 0px;">
                            <a class="nav-item btn btn-outline-danger"
                                href="{% url 'authentication:logout' %}"><b>Logout</b></a>
                        </li>
                    </ul>

                    {% else %}
                    <a class="nav-item btn btn-outline-success" style="margin-left: 40px;"
                        href="{% url 'authentication:login' %}"><b>Login</b></a>

                    {% endif %}

                </nav>
            </div>
        </header>
        {% endblock %}

        {% if messages %}
        {% for message in messages %}
        <div class="toast-container" style="position: absolute; bottom: 10px; right: 10px;">
            <div class="toast fade bg-dark" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header bg-dark">
                    <img src="{% static 'main/image/logo.jpg' %}" class="rounded me-2" width="20" height="20">
                    <strong class="me-auto text-white">Ship Battle</strong>
                    <small class="toast-time">Now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    {{message}}
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}

        {% block main %}{% endblock %}

        {% block footer %}
        <footer class="mt-auto text-white-50">
            <p>Made by <a href="https://github.com/neverFeltAlive" class="link-secondary">neverFeltAlive</a>.</p>
        </footer>
        {% endblock %}
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="{% static 'main/js/toast_handler.js' %}"></script>

    {% block scripts %}{% endblock %}
</body>
{% endblock %}

</html>