{% extends 'authentication/base_light.html' %}
{% load static %}

{% block form %}
<h1 class="h3 mb-3 fw-normal">Please Login</h1>
<hr />
{% for input in form %}
{% if input.label == 'Checkbox' %}
<div class="checkbox mb-3">
    <label>
        {{ input }} Remember me
    </label>
</div>
{% else %}
<div class="form-floating">
    {{ input }}
    <label for="{{ input.id_for_label }}">{{ input.label }}</label>
</div>
{% endif %}
{% endfor %}
<button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
<hr />
<p>Don't have an account yet? <a class="link-primary" href="{% url 'authentication:sign_up' %}">Sign Up now.</a><br />
    <small>Forgot your password? <a class="link-secondary"
            href="{% url 'authentication:password_reset' %}">Reset it.</a></small>
</p>
<p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
{% endblock %}